.NotFoundMainDiv{
}

.NotFoundBackGround{
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 80vw;
  height: 80vh;

  filter: grayscale(100%) blur(3px);
  -webkit-filter: blur(3px) grayscale(100%);

  /*Centre la div dans la page*/
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.NotFoundTextDiv{
  color: white;
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(11, 15, 123, 0.4); /* Black w/opacity/see-through */
  font-weight: bold;
  border: 3px solid #f1f1f1;
  padding: 20px;



  /*Centre le texte dans la div*/
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  }
