.picturelist{
  max-height: 60%;
  min-height: 60%;
  border: beige solid 10px;
}
.picturelist:hover{
  max-height: 65%;
  border: beige solid 5px;
}

.pictureHorizontal{
  max-height: 93%;
  min-height: 93%;
}
.pictureHorizontal:hover{
  max-height: 95%;
  min-height: 95%;
}

.pictureVertical{
  max-width: 93%;
  min-width: 93%;
}

.pictureVertical:hover{
  max-width: 95%;
  min-width: 95%;
}

.pictureSquare{
  max-height: 60%;
  min-height: 60%;
}

.pictureSquare:hover{
  max-height: 65%;
  min-height: 65%;
}

.pictureSquareHeight{
  max-width: 60%;
  min-width: 60%;
}

.pictureSquareHeight:hover{
  max-width: 65%;
  min-width: 65%;
}

