<div *ngIf="collection"> <h1>{{collection.titre}}</h1></div>

<mat-grid-list cols="3"  >
  <div >
    <mat-grid-tile class="collection-grid-tile" *ngFor="let picture of collection.files" [style.background]="'#1fe0'"
                   [colspan] = "getLayoutFromPhotoName(picture)[0]"
                   [rowspan] = "getLayoutFromPhotoName(picture)[1]"> <img class="{{getLayoutFromPhotoName(picture)[2]}}" src="../../assets/Photos/{{collection.name}}/{{picture}}">
    </mat-grid-tile>
  </div>
</mat-grid-list>




